html{
  background-image: url("");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  font-family: "Futura", Sans-serif;
  height: 100%;
}



h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: strong;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  margin: 0 0 20px 30px;
}

ul {
  margin-left: 120px;
  font-size: 20px;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

.container {
  background-image: url("salon.jpg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  font-family: "Futura", Sans-serif;
  height: 100%;  width: 60%;
  margin: 100px auto 0 auto;
  padding: 15px;
  color: #ff4444;
}



.entry {
  margin-left: 20px;
}

.form-label {
  margin-top: 10px;
  clear: left;
  float: left;
  width: 300px;
  text-align: center;
}

.form-control {
  width: 85%;
  margin: 5px auto 0 auto;
}

.button {
  border-radius: 15px;
  border: 1px solid #666;
  color:#FFFEF6;
  text-decoration:none;
  padding: 5px 10px;
}

a {
  color: #33b5e5
}
